*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}

body{
    min-width: 100vw; 
    min-height: 100vh;
    display:flex; 
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255,255,255); */
    background-image: url(LandingPage/assets/img/1.jpg);
    background-size: contain;
}

form{
    padding:20px 20px ;
    background-color: rgb(205, 240, 185);
     border:2px solid black; 
     min-width:50vw; 
     min-height:50vh; 
     opacity:0.999;
     border-radius: 10px;
     box-shadow:3px 3px rgb(30 34 28);
}
form .Subject{
    margin:10px 0; 
}

form .Question div{
   margin:10px 0; 
}

form button{
    padding:4px 4px;  
    background-color: rgb(0, 162, 255);
   color:white; 
   border-radius: 5px;
    cursor: pointer;
    margin:0 1em;  
}
form  .add{

    padding: 5px 8px;
    text-align: center;
    font-size: 16px;
   border-radius: 50%;
}




