body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  overflow-x: hidden;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

#header {
  background: #eeeeee;
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
  height: 80px;
}

#header #logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
  /* margin-top: 1rem; */
}

#header .logo a {
  color: #dfd5d5;
}

#logo {
  padding-left: 50px;
}

#header #logo a {
  color: #dfd5d5;
}

#logout {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* margin-right: 70px; */
  /* right:1.5rem;  */
  min-width: fit-content;
  padding-right: 40px;
}

#logout .logged-user {
  margin: 0 10px;
}

#header .logo a span {
  color: #91b2dd;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #272222;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #6090ce;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
  color: #106eea;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #106eea;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.natoggle-button {
  position: absolute;
  top: 3rem;
  right: 1em;
  cursor: pointer;
  font-size: 2rem;
  transform: translateY(-70%);
}
header i {
  position: absolute;
  top: 49%;
  right: 0.5rem;
  transform: translateY(-50%);
}
@media (max-width: 1400px) {
  .natoggle-button {
    display: block;
  }
  .navbarlinks {
    display: none;
    width: 100%;

    height: 0;
    transform-origin: top;
    transition: 1s ease-in-out;
  }

  .navbarlinks ul {
    width: 100%;
    top: 1rem;
    /* position:absolute;  */
    display: flex;
    flex-direction: column;
  }
  .navbarlinks ul li {
    width: 100%;
    background-color: black;
  }
  .navbarlinks ul li a {
    width: 100%;

    color: white;
  }
  .navbarlinks.active {
    display: flex;
    width: 100%;
    height: max-content;
  }
  #logout {
    transform: translateY(-40%);
    position: absolute;
    right: 10em;
    top: 2.5rem;
  }
  #header.fixed-top {
    height: 110px;
  }
  #logo {
    height: 78px;
  }
}

@media screen and (min-width: 1400px) {
  .natoggle-button {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile > ul > li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #106eea;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #106eea;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 27px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #505050;
}

input:focus + .slider {
  box-shadow: 0 0 1px #505050;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logged-user {
  color: #02182b;
  margin-top: 3px;
  font-size: 17px;
}

#hero {
  width: 100%;
  height: 75vh;
  position: relative;
}

/* #hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #ffffff;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #106eea;
}

#hero .btn-get-started:hover {
  background: #247cf0;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #logout {
    /* transform: translateX(500%); */
    transform: translateY(-40%);
    position: absolute;
    right: auto;
    left: auto;
    top: 5rem;
    margin: 0 auto;
  }
  .navbarlinks ul {
    top: 0.4rem;
  }
  #header #logo {
    padding-top: 0 !important;
    transform: translateY(-20%);
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

#home-hero .carousel {
  width: 100vw;
  height: 80vh;
  position: relative;
}

#home-hero .carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#home-hero .slide-text {
  color: white;
  font-size: 2em;
  position: absolute;
  padding-top: 10em;
  padding-left: 1em;
  z-index: 3;
  /* pointer-events: none; */
}
#home-hero .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

#home-hero .slide > img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  overflow: hidden;
  object-position: left;
}

#home-hero .slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

#home-hero .carousel-button {
  position: absolute;
  z-index: 3;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
}

#home-hero .carousel-button:hover,
#home-hero .carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

#home-hero .carousel-button:focus {
  outline: 1px solid black;
}

#home-hero .carousel-button.prev {
  left: 1rem;
}

#home-hero .carousel-button.next {
  right: 2rem;
}

.section-bg {
  background-color: #171c28;
}

.container-card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 30px;
  overflow: hidden;
  background-color: rgb(244 239 232 / 76%);
}
.container-card a {
  display: inline-block;
}
.container-card a .subcard {
  position: relative;
  max-width: 270px;
  height: 150px;
  background: rgb(74, 232, 238);
  border-radius: 10px;
  border: 2px solid white;
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 22px rgba(112, 202, 224, 0.911);
  transition: 0.3s ease-in-out;
}
.container-card .subcard:hover {
  height: 300px;
}
.container-card .subcard .imagebox {
  position: relative;
  height: 300px;
  width: 270px;
  margin: auto;
  top: -45px;
  padding: 0 30px;
}
.container-card .subcard .imagebox.special {
  position: relative;
  height: 300px;
  width: 270px;
  margin: auto;
  top: -21px;
  padding: 0 30px;
}
.container-card .subcard .imagebox img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.container-card .subcard .content {
  position: relative;
  margin-top: -40px;
  padding: 20px 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}

.container-card .subcard:hover .content {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

.about .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #106eea;
  border-radius: 50px;
}

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.spe780row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: max-content;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.subscribe-form d-flex {
  flex-wrap: wrap;
}

@media screen and (max-width: 993px) {
  .spe780row {
    width: 100%;
  }
  footer .row .card.col-4 {
    width: 100%;
  }
  .dabs {
    position: absolute;
    margin-top: 50px;
  }
}
