body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  overflow-x: hidden;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

.text-black {
  color: black;
}
.text-black:hover {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

#hero {
  width: 95%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  position: relative;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#gpa-text {
  color: rgb(107, 20, 20);
  padding-top: 5px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: max-content;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #logout {
    transform: translateY(-40%);
    position: absolute;
    right: auto;
    left: auto;
    top: 5rem;
    margin: 0 auto;
  }
  .navbarlinks ul {
    top: 0.4rem;
  }
  #header #logo {
    padding-top: 0 !important;
    transform: translateY(-20%);
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
  background-color: rgb(244, 239, 232, 76%);
}

.section-bg {
  background-color: #171c28;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

.card {
  margin-left: 30px;
  padding: 0;
  transition: transform 0.5s;
}

.box {
  position: relative;
  overflow: hidden;
  height: 300px;
  cursor: pointer;
  border-radius: 30px;
}

.box .description {
  color: rgb(102, 6, 14);
  font-style: italic;
}

#c1 {
  background-image: url("../img/maths.jpeg");
  background-position: center;
  background-size: cover;
  padding-left: 30px;
  padding-top: 50px;
}

#c1 .title {
  margin-bottom: 15px;
}

.title {
  font-weight: bold;
  font-size: 29px;
  color: rgb(48, 3, 7);
  animation: neared 2s infinite; /*added*/
}
@keyframes neared {
  0% {
    color: rgb(46, 4, 4);
  }
  50% {
    color: rgb(11, 43, 20);
  }
  90% {
    color: rgb(34, 133, 25);
  }
}

.description {
  text-align: left;
}

#c2 {
  background-image: url("../img/english.jpeg");
  background-position: center;
  background-size: cover;
  padding-left: 30px;
  padding-top: 50px;
}

#c2 .title {
  margin-bottom: 25px;
}

#c3 {
  background-image: url("../img/history.jpeg");
  background-position: center;
  background-size: cover;
  padding-left: 30px;
  padding-top: 50px;
}

#c3.title {
  margin-bottom: 25px;
}

#c4 {
  background-image: url("../img/physics.jpeg");
  background-position: center;
  background-size: cover;
  padding-left: 30px;
  padding-top: 50px;
}

#c5 {
  background-image: url("../img/chemistry.jpeg");
  background-position: center;
  background-size: cover;
  padding-left: 20px;
  padding-top: 50px;
}

#c5 .title {
  margin-bottom: 18px;
}

.box:hover {
  width: 230px;
  height: 295px;
  transition: all 1.2s ease;
}

.card:hover {
  transform: scale(110%);
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

.about .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #106eea;
  border-radius: 50px;
}

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.spe780row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: max-content;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.subscribe-form d-flex {
  flex-wrap: wrap;
}

@media screen and (max-width: 993px) {
  .spe780row {
    width: 100%;
  }
  footer .row .card.col-4 {
    width: 100%;
  }
  .dabs {
    position: absolute;
    margin-top: 50px;
  }
}
